{% extends 'layout/layout.html.twig' %}

{% block body %}
    <h1>Cart</h1>

    {% if cart and cart.items|length %}
        <table class="table">
            <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Unit price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart.items %}
                <tr>
                    <td>{{ item.product.code }}</td>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.unitPrice }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{{ path('cart_delete_item',{'id': item.id}) }}">Delete</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <br/>
        <ul>
            <li>
                <a href="{{ path('cart_edit_items',{'id': cart.id}) }}">Edit cart</a>
            </li>
            <li>
                <a href="{{ path('cart_clear',{'id': cart.id}) }}">Clear cart</a>
            </li>
        </ul>
    {% else %}
        <div>No cart found</div>
        <br/>
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('homepage') }}">Back to home</a>
        </li>
    </ul>
{% endblock %}
