{% extends 'base.html.twig' %}

{% block body %}
    <h1>Itemtype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ itemType.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ itemType.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ itemType.name }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{% if itemType.createdat %}{{ itemType.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{% if itemType.updatedat %}{{ itemType.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_itemtype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_itemtype_edit', { 'id': itemType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
