{% extends 'layout/admin_layout.html.twig' %}

{% block body %}
    <h1>Producttype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productType.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ productType.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ productType.name }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{% if productType.createdat %}{{ productType.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{% if productType.updatedat %}{{ productType.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_producttype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_producttype_edit', { 'id': productType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
