{% extends 'layout/layout.html.twig' %}

{% block body %}
    <h1>Choose products</h1>

    {% if products|length > 0 %}
        <table class="table">
            <tbody>
            <tr>
                {% for product in products %}
                <td style="width: 25%;">
                    <h4>{{ product.name }}</h4>
                    {% for cartType in cartTypes %}
                        <a class="add-to-cart" href="javascript:void(0)"
                           data-url="{{ path('add_cart_product', {'product_id': product.id, 'type_id': cartType.id}) }}">
                            Add to {{ cartType }}
                        </a>
                        <br/>
                    {% endfor %}
                    <br/>
                    <br/>
                </td>

                {% if loop.index > 0 and loop.index % 4 == 0 %}
            </tr>
            <tr>
                {% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
    {% else %}
        <div>
            No products found
        </div>
    {% endif %}
    {% for cartType in cartTypes %}
        <a href="{{ path('cart_view_by_type', {'id': cartType.id}) }}" style="padding: 0.75em;">
            <button class="btn btn-primary">
                View {{ cartType }} cart
            </button>
        </a>
        &nbsp;&nbsp;
    {% endfor %}
{% endblock %}
