{% extends 'base.html.twig' %}

{% block body %}
    <h1>Carttypes list</h1>

    <table style="width: 100%;">
        <thead>
        <tr style="text-align: left;">
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Created_at</th>
            <th>Updated_at</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for cartType in cartTypes %}
            <tr>
                <td><a href="{{ path('admin_carttype_show', { 'id': cartType.id }) }}">{{ cartType.id }}</a></td>
                <td>{{ cartType.code }}</td>
                <td>{{ cartType.name }}</td>
                <td>{% if cartType.createdat %}{{ cartType.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if cartType.updatedat %}{{ cartType.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_carttype_show', { 'id': cartType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_carttype_edit', { 'id': cartType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_carttype_new') }}">Create a new cartType</a>
        </li>
    </ul>
{% endblock %}
